body {
  margin: 50px 50px;
}

.line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  height: 50px;
}

.bar-divider {
  display: inline-block;
  height: 100%;
  width: 3px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.chord-text {
  margin: 0 20px;
  font-size: 1.3em
}

.chord-divider {
  display: inline-block;
  height: 80%;
  border-left: 1px solid black;
}

.line-repeat-count {
  padding: 5px;
  font-size: 1.4em;
  margin-left: 30px;
  border: 1px solid grey;
  border-radius: 50%;
}

.line-repeat-count:before {
  content: 'x';
}

.lyrics {
  margin-bottom: 30px;
}