.home-container {
  margin: 12px 30px;
  height: 95vh;
  overflow: hidden;
}

.content-container {
  height: 90vh;
  max-height: 90vh;
  overflow: auto;
  padding-right: 50px;
}

.content-container::-webkit-scrollbar {
  width: 3px;
}
.content-container::-webkit-scrollbar-track {
  background: #757575;
}
.content-container::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
}
.content-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.song-container {
  height: 100%;
  overflow: hidden;
}

.song-lines-container {
  height: 90%;
  overflow: auto;
}

.song-lines-container::-webkit-scrollbar {
  width: 5px;
}
.song-lines-container::-webkit-scrollbar-track {
  background: #ffffff;
}
.song-lines-container::-webkit-scrollbar-thumb {
  background: rgb(2, 2, 2);
}
.song-lines-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}